<header>
    <nav class="custom-navbar navbar navbar navbar-expand-md navbar-dark bg-dark" arial-label="Furni navigation bar">

		<div class="container">
			<a class="navbar-brand" href="/">NetTech<span>.</span></a>

			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsFurni" aria-controls="navbarsFurni" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsFurni">
				<ul class="custom-navbar-nav navbar-nav ms-auto mb-2 mb-md-0">
					<li class="nav-item" th:classappend="${currentPage == '' ? 'active' : ''}">
						<a class="nav-link" href="/">Inicio</a>
					</li>
					<li class="nav-item" th:classappend="${currentPage == 'categorias' ? 'active' : ''}">
						<a class="nav-link" href="/categorias">Categorias</a>
					</li>
					<li class="nav-item" th:classappend="${currentPage == 'about' ? 'active' : ''}">
						<a class="nav-link" href="/about">Sobre Nosotros</a>
					</li>
					<li class="nav-item" th:classappend="${currentPage == 'locations' ? 'active' : ''}">
						<a class="nav-link" href="/locations">Ubicaciones</a>
					</li>
				</ul>

				<ul class="custom-navbar-cta navbar-nav mb-2 mb-md-0 ms-5">
					<li><a class="nav-link" href="/auth/login"><img th:src="@{icons/user.svg}"></a></li>
					<!-- <li><a class="nav-link" href="cart.html"><img th:src="@{icons/cart.svg}"></a></li> -->
				</ul>
			</div>
		</div>
			
	</nav>
</header>