<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base :: head"></head>
<body>
	<div th:replace="fragments/header_fragment :: header"></div>
		
	<main class="container main-full">
	  
	  <h2 class="section-title">Listado de tiendas</h2>
	  	<div class="row gy-4">
	  	
		    <a th:href="'/categoria/'+${category.id}" class="col-6 col-md-4" th:each="category : ${categories}">
				<div class="card text-bg-dark card--store">
			        <div class="card-img-overlay">
			            <h5 class="card-title" th:text="${category.name}"></h5>
			        </div>
			    </div>
			</a>

		</div>
	</main>	

</body>
</html>